crds:
  create: false

grafana:
  service:
    type: NodePort
    port: 80
    nodePort: 30200
  ingress:
    enabled: false  # Disabled - using separate grafana-ingress.yaml instead
    # ingressClassName: tailscale
    # annotations:
    #   tailscale.com/funnel: "true"
    # hosts:
    #   - grafana
    # tls:
    #   - hosts:
    #       - grafana
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 8Gi
  # Removed affinity to beelink because Longhorn CSI driver is not available on control-plane node
  # Grafana will run on worker node where Longhorn volumes can be attached

prometheus:
  prometheusSpec:
    remoteWriteDashboards: false
    # Removed affinity to beelink because Longhorn CSI driver is not available on control-plane node
    # Prometheus will run on worker node where Longhorn volumes can be attached
    serverSideApply: true
    retention: 12h
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 25Gi
    resources:
      requests:
        memory: 3Gi
        cpu: 500m
      limits:
        memory: 6Gi
        cpu: 2

alertmanager:
  alertmanagerSpec:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/hostname
                  operator: In
                  values:
                    - beelink
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 5Gi

kubeStateMetrics:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - beelink

prometheusOperator:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - beelink