apiVersion: v1
kind: Service
metadata:
  name: mosquitto
  namespace: mosquitto
  labels:
    app: mosquitto
spec:
  type: NodePort
  ports:
  - port: 1883
    targetPort: 1883
    nodePort: 30883
    protocol: TCP
    name: mqtt
  selector:
    app: mosquitto

