service:
  # Service type (ClusterIP, NodePort, LoadBalancer, or ExternalName)
  type: NodePort
  # Service port
  port: 80
  # NodePort for external access (30000-32767)
  nodePort: 30400

# Persistence configuration
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 5Gi
  storageClass: "longhorn"  # Use Longhorn for persistent storage


ingress:
  # Enable ingress for home assistant
  enabled: true
  className: "tailscale"
  annotations:
    tailscale.com/funnel: "true"
  hosts:
    - host: home-assistant
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - hosts:
      - home-assistant


# Addons configuration
addons:
  codeserver:
    enabled: true
    service:
      type: NodePort
      port: 30030


# Node affinity
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - beelink


# Environment variables
env:
  - name: TZ
    value: Europe/Madrid


# Liveness and readiness probes
livenessProbe:
  httpGet:
    path: /
    port: 8123
    scheme: HTTP
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 8123
    scheme: HTTP
  initialDelaySeconds: 10
  periodSeconds: 5


# Configuration for Home Assistant
configuration:
  enabled: true
  trusted_proxies:
    - 127.0.0.0/8     # Localhost
    - 10.42.0.0/16    # K8s Pod Network
    - 10.43.0.0/16    # K8s Services Network
    - 100.64.0.0/10   # Tailscale IPv4 Range
    - fd7a:115c:a1e0::/48  # Tailscale IPv6 Range
  templateConfig: |-
    default_config:

    {{- if .Values.ingress.enabled }}
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        {{- range .Values.configuration.trusted_proxies }}
        - {{ . }}
        {{- end }}
    {{- end}}

    # Disable login attempt notifications
    logger:
      default: info
      logs:
        homeassistant.components.http.ban: critical

    # Load frontend themes from the themes folder
    frontend:
      themes: !include_dir_merge_named themes

    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml


podSecurityContext:
  runAsUser: 0
  runAsGroup: 0

